@model SistemaVendas.Application.ViewModels.LoginViewModel

@{
	ViewData["Title"] = "Login";
	Layout = "_Layout";
}



<div class="container">

	<div class="formConteiner">
		<form asp-action="QueryLogin" asp-route-id="@Model" id="myForm">

			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<input asp-for="Email" id="nome" type="text" class="inputLogin" placeholder="Email" name="Email">
						<div style="text-align: center">
							<span asp-validation-for="Email" class="text-danger" id="email-error"></span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<input asp-for="Senha" type="password" class="inputLogin" placeholder="password">
						<div style="text-align: center">
							<span asp-validation-for="Senha" class="text-danger"></span>
						</div>
					</div>
				</div>
			</div>

			@if (TempData["InfoMessage"] != null)
			{
				<p class="alert text-center" style="color: darkred;">@TempData["InfoMessage"] </p>
			}

			<div class="row">
				<div class="col-sm">
					<div class="form-group" style="text-align:center;">
						<input type="submit" value="Enter" class="btn btn-primary btn-block" style="width:50%; margin-top: 15px;" />

					</div>
				</div>
			</div>

			<div class="row" style="padding:10px;">
				<div class="col-sm">
					<div class="form-group" style="text-align:center;">
						<a><i type="submit" style="color:darkred;" onclick="redirectToUpdateLogin()">Alte password!</i></a>
					</div>
				</div>
			</div>
		</form>
	</div>

</div>




<script>

	function redirectToUpdateLogin() {
		var email = document.getElementById('nome').value;

		if (email === '') {
			document.getElementById('email-error').innerText = "O campo Email é obrigatório.";
		} else {
			window.location.href = '@Url.Action("UpdateLogin", "Login")?email=' + email;
		}
	}

</script>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}