@model SistemaVendas.Application.ViewModels.EmployeeViewModel

@{
	ViewData["Title"] = "CreateEmployee";
	
}


@*onsubmit="return jQueryAjaxPost(this);"*@

<div class="container">
<hr />
<div class="row">
	<div class="col-md-12">
		<form asp-action="CreateEmployee" asp-route-id="@Model" >
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label asp-for="Nome" class="control-label"></label>
						<input asp-for="Nome" class="form-control" name="Nome"/>
						<span asp-validation-for="Nome" class="text-danger"></span>
					</div>
				</div>	

				<div class="col-sm">
					<div class="form-group col-md-5">
						<label asp-for="Sexo" class="control-label"></label>
						@*<input asp-for="sexo" class="form-control" name="sexo" />*@
							<select asp-for="Sexo" asp-items="@ViewBag.sexo" class="form-control" name="Sexo"></select>
						<span asp-validation-for="Sexo" class="text-danger"></span>
					</div>
				</div>

				<div class="col-sm-5">

					<div class="form-group">
						<label asp-for="Cpf" class="control-label"></label>
							<input asp-for="Cpf" class="form-control" name="Cpf" oninput="mascaras(this)" />
						<span asp-validation-for="Cpf" class="text-danger"></span>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-sm">

					<div class="form-group">
						<label asp-for="Email" class="control-label"></label>
						<input asp-for="Email" class="form-control" name="Email" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm">

					<div class="form-group">
						<label asp-for="Endereco" class="control-label"></label>
						<input asp-for="Endereco" class="form-control" name="Endereco" />
						<span asp-validation-for="Endereco" class="text-danger"></span>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-sm">

					<div class="form-group">
						<label asp-for="Telefone" class="control-label"></label>
							<input asp-for="Telefone" class="form-control" name="Telefone" oninput="mascaras(this)" />
						<span asp-validation-for="Telefone" class="text-danger"></span>
					</div>
				</div>

				<div class="col-sm">
					<div class="form-group">
						<label asp-for="Turno" class="control-label"></label>
						@*<input asp-for="turno" class="form-control" name="turno" />*@
							<select asp-for="Turno" asp-items="@ViewBag.turno" class="form-control" name="Turno"></select>
							<span asp-validation-for="Turno" class="text-danger"></span>
					</div>

				</div>

				@*<div class="col-sm">
					<div class="form-group">
						<label asp-for="DataContratado" class="control-label"></label>
							<input asp-for="DataContratado" class="form-control" name="DataContratado" />
						<span asp-validation-for="DataContratado" class="text-danger"></span>
					</div>
				</div>*@


					<div class="row">
						<div class="col-sm">
							<div class="form-group col-md-5">
								<label class="control-label">Comapny</label>
							
								<select asp-items="@ViewBag.company" class="form-control" name="Company"></select>
								@*<span asp-validation-for="Sexo" class="text-danger"></span>*@
							</div>
						</div>
					</div>
			</div>

			<hr/>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary btn-block" />
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
			</div>
		</form>
	</div>
</div>
</div>

@*data-bs-dismiss="modal"*@




@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
