@model SistemaVendas.ViewModels.EmployeeViewModel

@{
    Layout = null;
}

<div class="container">
<div class="row">
    <div class="col-md-12">
			<form asp-action="UpdateEmployee" asp-route-id="@Model.IdFunc" id="myForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


				<div class="row">
					<div class="col-sm">
						<div class="form-group">
							<label asp-for="Nome" class="control-label"></label>
							<input asp-for="Nome" class="form-control" name="Nome" />
							<span asp-validation-for="Nome" class="text-danger"></span>
						</div>
					</div>

					<div class="col-sm">
						<div class="form-group col-md-5">
							<label asp-for="Sexo" class="control-label"></label>
							@*<input asp-for="sexo" class="form-control" name="sexo" />*@
								<select asp-for="Sexo" asp-items="@ViewBag.sexo" class="form-control" name="Sexo"></select>
							<span asp-validation-for="Sexo" class="text-danger"></span>
						</div>
					</div>

					<div class="col-sm">

						<div class="form-group">
							<label asp-for="Cpf" class="control-label"></label>
							<input asp-for="Cpf" class="form-control" name="Cpf" />
							<span asp-validation-for="Cpf" class="text-danger"></span>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-sm">

						<div class="form-group">
							<label asp-for="Email" class="control-label"></label>
							<input asp-for="Email" class="form-control" name="Email" />
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm">

						<div class="form-group">
							<label asp-for="Endereco" class="control-label"></label>
							<input asp-for="Endereco" class="form-control" name="Endereco" />
							<span asp-validation-for="Endereco" class="text-danger"></span>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-sm">

						<div class="form-group">
							<label asp-for="Telefone" class="control-label"></label>
							<input asp-for="Telefone" class="form-control" name="Telefone" />
							<span asp-validation-for="Telefone" class="text-danger"></span>
						</div>
					</div>

					<div class="col-sm">
						<div class="form-group">
							<label asp-for="Turno" class="control-label"></label>
							@*<input asp-for="turno" class="form-control" name="turno" />*@
								<select asp-for="Turno" asp-items="@ViewBag.turno" class="form-control" name="Turno"></select>
							<span asp-validation-for="Turno" class="text-danger"></span>
						</div>
					</div>

					<div class="col-sm">
						<div class="form-group">
							<label asp-for="DataContratado" class="control-label"></label>
							<input asp-for="DataContratado" class="form-control" name="DataContratado" />
							<span asp-validation-for="DataContratado" class="text-danger"></span>
						</div>
					</div>
				</div>

				<hr />
				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-primary" />
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
				</div>


        </form>
    </div>
</div>
</div>


<script>
	$(document).ready(function () {
		$("#myForm").validate({
			rules: {
				Nome: {
					required: true,
					// Outras regras de validação específicas, se necessário
				},
				Email: {
					required: true,
					email: true // Verifica se o valor é um endereço de e-mail válido
				},
				Email: {
					required: true,
				},
				Cpf: {
					required: true,
					digits: true,
				},
				Endereco: {
					required: true,
				},
				Telefone: {
					required: true,
					digits:	true,
				},
				Turno: {
					required: true,
					
				},
				DataContratado: {
					required: true,
					
				},
				// Defina regras para outros campos, se necessário
			},
			messages: {
				Nome: {
					required: "O campo Nome é obrigatório."
				},
				Email: {
					required: "O campo Email é obrigatório.",
					email: "Por favor, insira um endereço de e-mail válido."
				},
				Sexo: {
					required: "Campo Obrigatorio."
				},
				Cpf: {
					required: "Campo Obrigatorio.",
					digits: "Somente numeros."
				},
				Endereco: {
					required: "Obrigatorio."
				},
				Telefone: {
					required: "Campo Obrigatorio.",
					digits: "Somente numeros."
				},
				Turno: {
					required: "Campo Obrigatorio.",
					
				},
				DataContratado: {
					required: "Campo Obrigatorio.",
					
				}
				// Mensagens de erro para outros campos, se necessário
			}
		});
	});


	$("#myForm").submit(function (event) {
		if (!$(this).valid()) {
			event.preventDefault(); // Impede o envio do formulário se a validação falhar
		}
	});

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

