.formulario {
    width: 150%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    height: 240px;
    border-radius: 10px;
    background-color: #EEEEEE;
/*    box-shadow: 10px 5px 5px #c4c4c4;
    background: rgba(238, 238, 238, 0.8);*/
}

.mainHead {
    display: flex;
    width: 70vw;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 16px;
}

.head .lbCadastro {
    display: block;
}

.head .iptCadastro {
    padding: 8px;
    width: 170px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.endereco .lbCadastro {
    display: block;
}


.endereco .iptCadastro {
    padding: 8px;
    width: 170px;
    border-radius: 10px;
    /* margin-left: auto;
    margin-right: auto; */
}


/* /////////////////////// */

.mainfooter {
    display: flex;
    width: 70vw;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 16px;
}

.footer .lbCadastro {
    display: block;
}

.footer .iptCadastro {
    padding: 8px;
    width: 170px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    /* border-style:  */
}

.salvar{
    float: right;
    display: inline;
    width: 80px;
}
