

.body {
    /*background-color: #6e6e6e;*/
    background-image: url('../Img/plataforma-de-e-commerce-b2b-1024x551.png');
    background-size: cover;
   /* background-repeat: no-repeat;
    background-position: center;*/
}

.iconLogo {
    display: block;
    position: relative;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    animation: rotate 8s linear infinite;
}



.formConteiner {
    position: relative;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 10px;
    background-color: #EEEEEE;
    box-shadow: 10px 5px 5px #c4c4c4;
    
    background: rgba(238, 238, 238, 0.8);
    z-index: 11;
}





.inputLogin {
    display: block;
    width: 260px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: solid 1px;
    margin-left: auto;
    margin-right: auto;
}



.btnLogin {
    display: block;
    background-color: #0D416B;
    color: white;
    padding: 14px 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 50%;
}

    .btnLogin:hover {
        opacity: 0.8;
    }

.btnLogin {
    text-decoration: none;
    padding: 14px 70px;
    align-items: center;
    color: white;
    /*margin-left: 20px;*/
}
